<div>
  <.form for={@form} phx-change="on-form-change" phx-target={@myself}>
    <.field field={@form[:url]} type="text" label="Url" />
    <.field field={@form[:status]} type="number" label="Response Status" />
    <.field field={@form[:body]} type="textarea" label="Response Body" />
  </.form>
</div>
