<div>
  <.form for={@form} phx-change="on-form-change" phx-target={@myself}>
    <.field field={@form[:address]} type="text" label="Address" />
    <.field field={@form[:token_id]} type="number" label="Token ID" />
  </.form>
</div>
