<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href=<%= Routes.static_path(@conn, "/assets/app.css") %> />
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " - Archethic Playground" %>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">Archethic Playground</a>
           <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
           </a>
        </div>
      </nav>
    </header>
    <main class="pt-6">
      <%= @inner_content %>
     </main>
     <script phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"> </script>
  </body>
</html>
